<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="container">
  <!-- step one form start -->
  <div class="row" *ngIf="step==1">
     <div class="col-md-6 offset-md-3">
          <h3>Angular 7 Template-Driven Form Validation</h3>
          <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" novalidate>
              <div class="form-group">
                  <label for="firstName">First Name</label>
                  <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" [ngClass]="{ 'is-invalid': firstName.touched && firstName.invalid || f.submitted && firstName.invalid}" required />
                  <div *ngIf="firstName.touched && firstName.invalid || f.submitted && firstName.invalid" class="invalid-feedback">
                      <div *ngIf="firstName.errors?.required">First Name is required</div>
                  </div>
              </div>
              <div class="form-group">
                  <label for="lastName">Last Name</label>
                  <input type="text" class="form-control" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" [ngClass]="{ 'is-invalid': lastName.touched && lastName.invalid || f.submitted && lastName.invalid }" required />
                  <div *ngIf="lastName.touched && lastName.invalid || f.submitted && lastName.invalid" class="invalid-feedback">
                      <div *ngIf="lastName.errors?.required">Last Name is required</div>
                  </div>
              </div>
              <div class="form-group">
                  <label for="email">Email</label>
                  <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{ 'is-invalid': email.touched && email.invalid || f.submitted && email.invalid }" required email />
                  <div *ngIf="email.touched || f.submitted && email.invalid" class="invalid-feedback">
                      <div *ngIf="email.touched && email.invalid || email.hasError.required">Email is required</div>
                      <div *ngIf="email.invalid && email.hasError.email">Email must be a valid email address</div>
                  </div>
              </div>
              <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="6" />
                  <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                      <div *ngIf="password.errors.required">Password is required</div>
                      <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
                  </div>
              </div>
              <div class="form-group">
                  <label for="confirmPassword">Confirm Password</label>
                  <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="model.confirmPassword" (ngModelChange)="passwordMatch()" #confirmPassword="ngModel" [ngClass]="{ 'is-invalid': f.submitted && confirmPassword.invalid }" required />
                    <div *ngIf="isPasswordNotMatch && model.password && model.password.length>5 && model.confirmPassword.length>5"> Password Missmatch
                      <div *ngIf="confirmPassword.hasError.required">Confirm Password is required</div>
                    </div>

              </div>
              <div class="form-group">
                  <button type="submit">Next</button>
              </div>

          </form>
      </div>
  </div>
  <!-- step one form end -->

  <!-- step two form start -->
  <div class="row" *ngIf="step==2">
     <div class="col-md-6 offset-md-3">
          <h3>Step Two Form</h3>
          <form name="form" #s2="ngForm" (ngSubmit)="onSubmit()" novalidate>
              <div class="form-group">
                  <label for="firstName">First Name</label>
                  <input type="text" class="form-control" name="firstName" [(ngModel)]="user.firstName" #firstName="ngModel" [ngClass]="{ 'is-invalid': firstName.touched && firstName.invalid}" required />
                  <div *ngIf="firstName.touched && firstName.invalid" class="invalid-feedback">
                      <div *ngIf="firstName.errors?.required">First Name is required</div>
                  </div>
              </div>
              <div class="form-group">
                  <label for="lastName">Last Name</label>
                  <input type="text" class="form-control" name="lastName" [(ngModel)]="user.lastName" #lastName="ngModel" [ngClass]="{ 'is-invalid': lastName.touched && lastName.invalid}" required />
                  <div *ngIf="lastName.touched && lastName.invalid" class="invalid-feedback">
                      <div *ngIf="lastName.errors?.required">Last Name is required</div>
                  </div>
              </div>
              <div class="form-group">
                  <label for="email">Email</label>
                  <input type="text" class="form-control" name="email" [(ngModel)]="user.email" #email="ngModel" [ngClass]="{ 'is-invalid': email.touched && email.invalid}" required email />
                  <div *ngIf="email.touched && email.invalid" class="invalid-feedback">
                      <div *ngIf="email.touched && email.invalid || email.hasError.required">Email is required</div>
                      <div *ngIf="email.invalid && email.hasError.email">Email must be a valid email address</div>
                  </div>
              </div>
              <div class="form-group">
                  <label for="mobileNo">Mobile Number</label>
                  <input type="text" class="form-control" name="mobileNo" [(ngModel)]="user.mobileNo" #mobileNo="ngModel" [ngClass]="{ 'is-invalid': mobileNo.touched && mobileNo.invalid}" required />
                  <div *ngIf="mobileNo.touched && mobileNo.invalid" class="invalid-feedback">
                      <div *ngIf="mobileNo.errors?.required">First Name is required</div>
                  </div>
              </div>
              
              <div class="form-group">
                <span>
                  <button type="submit">Next</button></span>
                  <span><button (click)="prvStep()">previous</button></span>
              </div>
              
          </form>
      </div>
  </div>
  <!-- step two form end -->
   <!-- step three form start -->
 <div class="row" *ngIf="step==3">
   <div class="col-md-6 offset-md-3">
     <h3>Step Three</h3>
     <form name="form" #ns3="ngForm" (ngSubmit)="onSubmit()" novalidate>
       <div class="form-group">
         <label for="name"> Name </label>
         <input type="text" name="" class="form-control" name="name" [(ngModel)]="userThree.name" #name="ngModel" [ngClass]="{'is-invalid': name.touched && name.invalid}" required />
                <div *ngIf="name.touched && name.invalid" class="invalid-feedback">
                    <div *ngIf="name.errors?.required">First Name is required</div>
                </div>           
       </div>
       <div class="form-group">
         <label for="date"> Date of Birth </label>
         <input type="date" name="" class="form-control" name="date" [(ngModel)]="userThree.date" #name="ngModel" [ngClass]="" required />
                      
       </div>
        <div class="form-group">
          <button type="button">Submit</button>
        </div>
        <div class="form-group">
            <button (click)="prvStep()">Preview</button>
        </div>
     </form>
   </div>
 </div>
    <!-- step three form end -->
</div>

<router-outlet></router-outlet>
